body {
  display: flex;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #343a40;
  color: white;
  padding-top: 20px;
  position: fixed;
  left: 0;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: -250px;
}

.sidebar a {
  padding: 10px 15px;
  display: block;
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  background: #495057;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.toggle-btn {
  position: fixed;
  top: 26px;
  left: 20px;
  background: #5c6269;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 1050;
  display: none;
  border-radius: 10%;
}

.dropdown-item:hover {
  background: #495057;
}

/* Ensure dropdown menu aligns properly and doesn't overflow */
.dropdown-menu {
  left: 0 !important;
}

.logout {
  margin-right: 80px;
}
.main-content {
  background-color: #f8f9fa;
  min-height: 87vh;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }
  .sidebar.active {
    left: 0;
  }
  .content {
    margin-left: 0;
  }
  .toggle-btn {
    display: block;
  }
  .navbar-brand {
    margin-left: 50px;
  }

  /* Hide dropdown in small screen */
  .dropdown {
    display: none;
  }
}

.custom-alert {
  position: absolute;
  top: 100px;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1050;
  width: 20%;
}

/* Specific styling for the welcome card */
.welcome-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

/* Card text styling */
.welcome-card h1 {
  font-size: 24px;
  margin: 0;
}

/* Media Queries for responsiveness */

/* For large screens (desktops/tablets) */
@media (min-width: 768px) {
  .welcome-card {
    width: 60%;
    padding: 40px;
  }

  .welcome-card h1 {
    font-size: 32px;
  }
}

/* For very large screens (e.g., large desktop screens) */
@media (min-width: 1200px) {
  .welcome-card {
    width: 50%;
    padding: 60px;
  }

  .welcome-card h1 {
    font-size: 40px;
  }
}
/* Responsive: Adjust for small screens */
@media (max-width: 768px) {
  .custom-alert {
    width: 50%;
    left: 50%;
  }
}
