html,
body {
  height: 100%;
  margin: 0;
}

/* Flexbox layout for body */
body {
  display: flex;
  flex-direction: column;
}

/* Make the main content area take up available space */
main {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Footer styling */
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

/* Form container */
.form-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  max-width: 400px; /* Limit the width of the form */
  width: 100%; /* Ensure responsiveness */
  padding: 20px;
}

/* Form title styling */
.form-container h2 {
  font-size: 1.8rem;
  color: #343a40; /* Adjusting color for better readability */
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.custom-alert {
  position: absolute;
  top: 100px;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1050;
  width: 20%;
}

/* Responsive: Adjust for small screens */
@media (max-width: 768px) {
  .custom-alert {
    width: 50%;
    left: 50%;
  }
}
